body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: grey;
  /* background-image: url("https://thumbs.gfycat.com/FeminineFlawedAlbertosaurus-size_restricted.gif"); */
  background-size: cover;
  background-repeat: no-repeat;
}
/* .li1 {
  background-color: grey;
}
.li2 {
  background-color: grey;
} */
main {
  text-align: center;
}
h2 {
  color: white;
  font-size: 40px;

  text-align: center;
  margin: 0;
  padding: 30px 0;
}
p1,
h3,
h4,
h5,
h6 {
  font-size: 30px;
  font-style: oblique;
  color: green;
}

h1 {
  margin: 0;
  padding: 30px 0;
  box-shadow: 10px 10px 32px -12px rgba(0, 0, 0, 0.75);
  font-size: 3rem;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  background-size: 5% auto;
}
li {
  /*DALLAS HELPED ME WITH THIS */
  font-size: 1.5rem;
  color: green;
  background-size: 60% auto;
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: floralwhite;
}
